mixin card-details(options={})
  -
    const {
      number = '',
      isLuxe = false,
      price = 0,
      discount = 0,
      fee = 0,
      feeAdd = 0,
    } = options;

  form.card-details.js-card-details(
    data-price= price
    data-discount= discount
    data-fee= fee
    data-feeadd= feeAdd
  )
    h1.card-details__header
      span.card-details__number №
      span.card-details__numeric= number
      span.card-details__lux
        if (isLuxe)
          = 'люкс'
      span.card-details__price= `${new Intl.NumberFormat('ru-RU').format(price)}₽`
      = 'в сутки'
    .card-details__datepicker
      +datepicker({
        name: 'details-date',
        headerArrival: 'прибытие',
        headerDeparture: 'выезд',
        headerCommon: 'даты пребывания в отеле',
      })
    .card-details__dropdown
      +dropdown({
        name: 'details-guest',
        placeholder: 'Сколько гостей',
        header: 'гости',
        items: [
          {
            name: 'details-adult',
            units: 'взрослые гость гостя гостей',
            max: 9,
          },
          {
            name: 'details-child',
            units: 'дети',
            isSurplus: true,
            max: 9,
          },
          {
            name: 'details-baby',
            units: 'младенцы младенец младенца младенцев',
            max: 5,
          },
        ],
      })
    .card-details__calc
      .card-details__calc-first-line
        .card-details__calc-price= `${new Intl.NumberFormat('ru-RU').format(price)}₽`
        = 'х'
        .card-details__calc-days.js-card-details__calc-days 0 суток
        .card-details__total-price.js-card-details__total-price 0₽
      .card-details__calc-fee
        .card-details__fee-label Сбор за услуги:
        .card-details__discount
          if (discount > 0)
            = `скидка ${new Intl.NumberFormat('ru-RU').format(discount)}₽`
        .card-details__info i
          .card-details__info-text Скидка предоставляется всем пассажирам авиакомпании «Чёрный лебедь».
        .card-details__fee= `${new Intl.NumberFormat('ru-RU').format(fee)}₽`
        .card-details__fee-add-label Сбор за дополнительные услуги
        .card-details__info i
          .card-details__info-text Сбор за зубную щётку, халат, полотенце, шампунь, чипсы в холодильнике, побудку звонком в номер в назначенное время.
        .card-details__fee-add= `${new Intl.NumberFormat('ru-RU').format(feeAdd)}₽`
    output.card-details__total-line
      = 'Итого'
      span.card-details__dash
      span.card-details__total.js-card-details__total 0₽
    +button({
      width: 'ultra-wide',
      isArrowed: true,
      isPurple: true,
      text: 'забронировать',
    })
