mixin datepicker(options={})
  -
    const {
      name = 'undefined-name', //- префикс для имён полей ввода
      labelCommon = '', //- заголовок для объединённого экспанда (FILTER DATE DROPDOWN)
      labelArrival = '', //- заголовок для экспанда прибытия
      labelDeparture = '', //- заголовок для экспанда выезда
      modifier = '', //- filter или demo (или отсутствует)
    } = options;
    let datepickerModifier = '';
    if (modifier === 'filter') {
      datepickerModifier = 'datepicker_format_filter';
    } else if (modifier === 'demo') {
      datepickerModifier = 'datepicker_format_demo';
    }

  .datepicker.js-datepicker(
    class= datepickerModifier
    tabindex="0"
    data-active="arrival"
  )
    input.datepicker__input.js-datepicker__input_date_arrival(
      type="date"
      name= `${name}-arrival`
    )
    input.datepicker__input.js-datepicker__input_date_departure(
      type="date"
      name= `${name}-departure`
    )
    p.datepicker__header.datepicker__header_format_filter= labelCommon
    .datepicker__drop.datepicker__drop_format_filter.js-datepicker__drop_format_filter
      = 'Укажите даты пребывания'
    .datepicker__wrapper
      .datepicker__wrapper
        p.datepicker__header= labelArrival
        .datepicker__drop.js-datepicker__drop_date_arrival ДД.ММ.ГГГГ
      .datepicker__wrapper
        p.datepicker__header= labelDeparture
        .datepicker__drop.js-datepicker__drop_date_departure ДД.ММ.ГГГГ
    .datepicker__down.js-datepicker__down
      .datepicker__wrapper
        button.datepicker__button.datepicker__button_action_back.js-datepicker__button_action_back(
          type="button"
          tabindex="-1"
          disabled
        ) arrow_back
        p.datepicker__month-year.js-datepicker__month-year
        button.datepicker__button.datepicker__button_action_forward.js-datepicker__button_action_forward(
          type="button"
          tabindex="-1"
        ) arrow_forward
      table.datepicker__calendar
        thead.datepicker__thead
          tr.datepicker__calendar-header
            th.datepicker__cell(scope="col") Пн
            th.datepicker__cell(scope="col") Вт
            th.datepicker__cell(scope="col") Ср
            th.datepicker__cell(scope="col") Чт
            th.datepicker__cell(scope="col") Пт
            th.datepicker__cell(scope="col") Сб
            th.datepicker__cell(scope="col") Вс
        tbody.datepicker__tbody.js-datepicker__tbody
      .datepicker__wrapper
        button.datepicker__button.js-datepicker__button_action_clear(
          type="button"
          tabindex="-1"
          disabled
        ) очистить
        button.datepicker__button.js-datepicker__button_action_confirm(
          type="button"
          tabindex="-1"
          disabled
        ) применить
