mixin datepicker({ name = 'undefined-name', label = '', labelArrival = '', labelDeparture = '', modifier = '', zIndex = 1 } = { name: 'undefined-name', label: '', labelArrival: '', labelDeparture: '', modifier: '', zIndex: 1 })
  -
    let datepicker_modifier = '';
    if (modifier === 'filter') {
      datepicker_modifier = 'datepicker_filter js-datepicker_filter';
    } else if (modifier === 'demo') {
      datepicker_modifier = 'datepicker_demo js-datepicker_demo';
    }

  .datepicker.js-datepicker(class= datepicker_modifier data-name= name data-z-index= zIndex)
    input.datepicker__input.js-datepicker__input_arrival(type='date' name=`${name}-arrival`)
    input.datepicker__input.js-datepicker__input_departure(type='date' name=`${name}-departure`)

    if (modifier === 'filter')
      .datepicker__drop.js-datepicker__drop
        .datepicker__value-container.js-datepicker__value-container
          .datepicker__header= label
          .datepicker__expand.js-datepicker__expand.datepicker__expand_filter.js-datepicker__expand_filter(tabindex=0)
            .datepicker__value.js-datepicker__value Укажите даты пребывания
    else if (modifier !== 'demo')
      .datepicker__drop.js-datepicker__drop
        .datepicker__value-container.js-datepicker__value-container
          .datepicker__header= labelArrival
          .datepicker__expand.js-datepicker__expand.datepicker__expand_arrival.js-datepicker__expand_arrival(tabindex=0)
            .datepicker__value.js-datepicker__value ДД.ММ.ГГГГ
        .datepicker__value-container.js-datepicker__value-container
          .datepicker__header= labelDeparture
          .datepicker__expand.js-datepicker__expand.datepicker__expand_departure.js-datepicker__expand_departure(tabindex=0)
            .datepicker__value.js-datepicker__value ДД.ММ.ГГГГ
    .datepicker__down.js-datepicker__down
      .datepicker__button-container
        button.datepicker__button.js-datepicker__button.js-datepicker__button_action_clear(tabindex=-1) очистить
        button.datepicker__button.js-datepicker__button.js-datepicker__button_action_confirm(tabindex=-1) применить
      .datepicker__calendar-container
        table.datepicker__calendar.js-datepicker__calendar
      .datepicker__month-year-container
        button.datepicker__button.js-datepicker__button.js-datepicker__button_action_month-minus(tabindex=-1) arrow_back
        .datepicker__month-year.js-datepicker__month-year
        button.datepicker__button.js-datepicker__button.js-datepicker__button_action_month-plus(tabindex=-1) arrow_forward

//- В эту строку записаны стили таблицы, которую напишет javascript, чтобы preprocessor нашёл эти стили в тексте
//- данного шаблона и включил их в сборку
//- datepicker__calendar-header datepicker__cell datepicker__row datepicker__cell-period
