mixin slider-toxin(options={})
  -
    const {
      start = 0,
      end = 0,
      step = 0,
      from = 0,
      to = 0,
      label = '',
      description = '',
      name = 'undefined-name'
    } = options;

  .slider-toxin.js-slider-toxin(
    data-start= start
    data-end= end
    data-step= step
    data-from= from
    data-to= to
    data-name= name
  )
    .slider-toxin__header
      .slider-toxin__label= label
      .slider-toxin__value.js-slider-toxin__value
    .slider-toxin__body.js-slider-toxin__body
    .slider-toxin__description= description



