mixin radio(options={})
  -
    const {
      name = 'undefined-name',
      items = [],
    } = options;

  .radio
    each item in items
      input.radio__button(
        type="radio"
        name= name
        id= `${name}-${item.value}`
        value= item.value
        checked= item.checked
      )
      label.radio__label(
        for= `${name}-${item.value}`
      )= item.text
