mixin chart(options={})
  -
    const {
      fabulous = 0,
      good = 0,
      satisfactorily = 0,
      disappointed = 0
    } = options;

    const total = fabulous + good + satisfactorily + disappointed;

    const voicesWord = (() => {
      if (total % 100 < 5 || total % 100 > 20) {
        if (total % 10 === 1) {
          return 'голос';
        }

        if (total % 10 > 1 && total % 10 < 5) {
          return 'голоса';
        }

        return 'голосов';
      }

      return 'голосов';
    })();

    const voices = [
      {
        class: 'chart__slice_grade_fabulous',
        degrees: total > 0 ? 360 * fabulous / total : 0,
      },
      {
        class: 'chart__slice_grade_good',
        degrees: total > 0 ? 360 * good / total : 0,
      },
      {
        class: 'chart__slice_grade_satisfactorily',
        degrees: total > 0 ? 360 * satisfactorily / total : 0,
      },
      {
        class: 'chart__slice_grade_disappointed',
        degrees: total > 0 ? 360 * disappointed / total : 0,
      },
    ];
    voices.sort((a, b) => b.degrees - a.degrees);

  figure.chart
    .chart__figure
      .chart__hold.chart__hold_most
        .chart__slice.chart__slice_most(class= voices[0].class)
      .chart__hold
        .chart__slice(class= voices[1].class style= `transform: rotate(-${voices[1].degrees}deg);`)
      .chart__hold(style= `transform: rotate(-${voices[1].degrees}deg);`)
        .chart__slice(class= voices[2].class style= `transform: rotate(-${voices[2].degrees}deg);`)
      .chart__hold(style= `transform: rotate(-${voices[1].degrees + voices[2].degrees}deg);`)
        .chart__slice(class= voices[3].class style= `transform: rotate(-${voices[3].degrees}deg);`)
      .chart__hold(style= `transform: rotate(-${voices[1].degrees + voices[2].degrees + voices[3].degrees}deg);`)
      .chart__total
        .chart__total-number= total
        = voicesWord
    figcaption.chart__legend
      .chart__item
        .chart__bullet
        = 'Великолепно'
      .chart__item
        .chart__bullet
        = 'Хорошо'
      .chart__item
        .chart__bullet
        = 'Удовлетворительно'
      .chart__item
        .chart__bullet
        = 'Разочарован'
