mixin chart(options={})
  -
    const {
      fabulous = 0,
      good = 0,
      satisfactorily = 0,
      disappointed = 0
    } = options;
    const total = fabulous + good + satisfactorily + disappointed;
    let voicesWord = 'голосов';
    if (total % 100 < 5 || total % 100 > 20) {
      if (total % 10 === 1) {
        voicesWord = 'голос';
      } else if ((total % 10 > 1 && total % 10 < 5)) {
        voicesWord = 'голоса';
      }
    }
    const voices = [
      ['chart__slice_grade_fabulous', total > 0 ? 360 * fabulous / total : 0],
      ['chart__slice_grade_good', total > 0 ? 360 * good / total : 0],
      ['chart__slice_grade_satisfactorily', total > 0 ? 360 * satisfactorily / total : 0],
      ['chart__slice_grade_disappointed', total > 0 ? 360 * disappointed / total : 0],
    ];
    voices.sort((a, b) => b[1] - a[1]);

  .chart
    .chart__figure
      .chart__hold.chart__hold_most
        .chart__slice.chart__slice_most(class= voices[0][0])
      .chart__hold
        .chart__slice(class= voices[1][0] style= `transform: rotate(-${voices[1][1]}deg);`)
      .chart__hold(style= `transform: rotate(-${voices[1][1]}deg);`)
        .chart__slice(class= voices[2][0] style= `transform: rotate(-${voices[2][1]}deg);`)
      .chart__hold(style= `transform: rotate(-${voices[1][1] + voices[2][1]}deg);`)
        .chart__slice(class= voices[3][0] style= `transform: rotate(-${voices[3][1]}deg);`)
      .chart__hold(style= `transform: rotate(-${voices[1][1] + voices[2][1] + voices[3][1]}deg);`)
      .chart__total
        .chart__total-number= total
        = voicesWord
    .chart__legend
      .chart__item
        .chart__bullet
        = 'Великолепно'
      .chart__item
        .chart__bullet
        = 'Хорошо'
      .chart__item
        .chart__bullet
        = 'Удовлетворительно'
      .chart__item
        .chart__bullet
        = 'Разочарован'
