mixin checkbox(options={})
  -
    const {
      expand = '', //- checkbox dropdown header
      isOpen = false,
      items = [],
    } = options;

    const expandClass = isOpen ? '' : 'checkbox__expand-label_close';

  .checkbox
    if (expand !== '')
      .checkbox__expand-label(
        class= expandClass
        tabindex="0"
      )= expand
    each item in items
      -
        const {
          name = 'undefined-name',
          value = 'on',
          checked = false,
          text = '',
          explanation = '',
        } = item;
      label.checkbox__label
        input.checkbox__input(
          type="checkbox"
          name= name
          value= value
          checked= checked
        )
        if (explanation !== '')
          span.checkbox__text.checkbox__text_weight_bold= text
          span.checkbox__explanation= explanation
        else
          span.checkbox__text= text
