mixin toggle(options={})
  -
    const {
      name = 'undefined-name',
      text = '',
      checked = false,
      value = 'on',
    } = options;

  label.toggle
    input.toggle__button(
      type="checkbox"
      name= name
      value= value
      checked= checked
    )
    span.toggle__text= text


