mixin dropdown(options={})
  -
    const {
      narrow = false, //- узкий, шириной 266px (если false ширина 320px)
      placeholder = '', //- значение по умолчанию для общей строки
      header = '', //- надпись слева сверху
      description = '', //- надпись справа сверху
      clear = false, //- есть кнопка "очистить"
      confirm = false, //- есть кнопка "применить"
      items = [], //- строки в выпадающем элементе
    } = options;

    let modifier = '';
    if (narrow) {
      modifier = 'dropdown_width_narrow';
    }

  .dropdown.js-dropdown(class= modifier tabindex="0")
    .dropdown__wrapper
      if (header)
        p.dropdown__header= header
      if (description)
        p.dropdown__header= description
    .dropdown__drop.js-dropdown__drop(data-placeholder= placeholder)= placeholder
    .dropdown__down.js-dropdown__down
      each item in items
        -
          const {
            name = '', //- имя поля ввода
            units = 'units', //- подпись для поля ввода с падежами
            min = 0, //- минимальное значение для активации кнопки "ПРИМЕНИТЬ"
            max = 99,
            surplus = '', //- данное поле не самостоятельное, а прибавляется к предыдущему
          } = item;

          const unitsArray = units.split(' ');

          let [, nominative, genitive, genitivePlural] = unitsArray;
          if (nominative === undefined) {
            nominative = units;
          }
          if (genitive === undefined) {
            genitive = nominative;
          }
          if (genitivePlural === undefined) {
            genitivePlural = genitive;
          }

        .dropdown__item.js-dropdown__item
          p.dropdown__units.js-dropdown__units= unitsArray[0]
          button.dropdown__counter-button.js-dropdown__counter-button.js-dropdown__counter-button_action_minus(
            disabled
            tabindex="-1"
            type="button"
          ) -
          input.dropdown__quantity.js-dropdown__quantity(
            name= name
            type="number"
            placeholder="0"
            min="0"
            max= max
            step="1"
            data-surplus= surplus
            data-previous="0"
            data-quantity="0"
            data-nominative= nominative
            data-genitive= genitive
            data-genitivePlural= genitivePlural
            data-value=""
            data-min= min
          )
          button.dropdown__counter-button.js-dropdown__counter-button.js-dropdown__counter-button_action_plus(
            tabindex="-1"
            type="button"
          ) +
      .dropdown__wrapper
        if (confirm)
          button.dropdown__button.js-dropdown__button_action_confirm(
            disabled
            tabindex="-1"
            type="button"
          ) применить
        if (clear)
          button.dropdown__button.js-dropdown__button_action_clear(
            disabled
            tabindex="-1"
            type="button"
          ) очистить

