mixin dropdown(options={})
  -
    const {
      isNarrow = false, //- narrow width 266px, regular width 320px
      placeholder = '',
      header = '', //- lettering top left
      description = '', //- lettering top right
      hasClear = false, //- there is a "clear" button
      hasConfirm = false, //- there is an "confirm" button
      items = [], //- strings in the dropdown
    } = options;

    const modifier = isNarrow
      ? 'dropdown_width_narrow'
      : '';

  .dropdown.js-dropdown(class= modifier tabindex="0")
    .dropdown__wrapper
      if (header !== '')
        p.dropdown__header= header
      if (description !== '')
        p.dropdown__header= description
    .dropdown__drop.js-dropdown__drop(data-placeholder= placeholder)= placeholder
    .dropdown__down.js-dropdown__down
      each item in items
        -
          const {
            name = '', //- input field name
            units = 'units', //- caption for input field with cases
            min = 0, //- minimum value to activate the "confirm" button
            max = 99,
            isSurplus = false, //- this field is not independent, but is added to the previous one
          } = item;

          const unitsArray = units.split(' ');

          const nominative = unitsArray[1] !== undefined
            ? unitsArray[1]
            : unitsArray[0];

          const genitive = unitsArray[2] !== undefined
            ? unitsArray[2]
            : nominative;

          const genitivePlural = unitsArray[3] !== undefined
            ? unitsArray[3]
            : genitive;

        .dropdown__item.js-dropdown__item
          p.dropdown__units.js-dropdown__units= unitsArray[0]
          button.dropdown__counter-button.js-dropdown__counter-button.js-dropdown__counter-button_action_minus(
            disabled
            tabindex="-1"
            type="button"
          ) -
          input.dropdown__quantity.js-dropdown__quantity(
            name= name
            type="number"
            placeholder="0"
            min="0"
            max= max
            step="1"
            data-surplus= isSurplus
            data-previous="0"
            data-quantity="0"
            data-nominative= nominative
            data-genitive= genitive
            data-genitive-plural= genitivePlural
            data-value=""
            data-min= min
          )
          button.dropdown__counter-button.js-dropdown__counter-button.js-dropdown__counter-button_action_plus(
            tabindex="-1"
            type="button"
          ) +
      .dropdown__wrapper
        if (hasConfirm)
          button.dropdown__button.js-dropdown__button_action_confirm(
            disabled
            tabindex="-1"
            type="button"
          ) применить
        if (hasClear)
          button.dropdown__button.js-dropdown__button_action_clear(
            disabled
            tabindex="-1"
            type="button"
          ) очистить

