mixin dropdown(options={})
  -
    const {
      narrow = false, //- узкий, шириной 266px (если false ширина 320px)
      guest = false, //- первая и вторая строки складываются
      name = "undefined-name", //- префикс для имён полей ввода
      defaultValue = "", //- значение по умолчанию для общей строки
      label = "", //- надпись слева сверху
      description = "", //- надпись справа сверху
      zIndex = 1, //- чем выше на странице компонент, тем больше нужен z-index
      clear = false, //- есть кнопка "очистить"
      confirm = false, //- есть кнопка "применить"
      items = [], //- строки в выпадающем элементе
    } = options;
    items.reverse(); //- в выпадающем элементе строки идут снизу вверх, flex-direction: column-reverse;
    let modifiers = '';
    if (narrow) {
      modifiers += ' dropdown_size_narrow';
    }
    if (guest) {
      modifiers += ' dropdown_guest';
    }
    if (confirm) {
      modifiers += ' dropdown_rollbackable';
    }

  .dropdown.js-dropdown(
    data-dropdown-name= name
    data-z-index= zIndex
    data-default-value= defaultValue
    class= modifiers
    tabindex="0"
  )
    .dropdown__header
      if (label)
        p.dropdown__label= label
      if (description)
        p.dropdown__label= description
    .dropdown__down.js-dropdown__down
      if (clear || confirm)
        .dropdown__button-container
          if (confirm)
            button.dropdown__button.js-dropdown__button.js-dropdown__button_action_confirm(
              disabled
              tabindex="-1"
              type="button"
            ) применить
          if (clear)
            button.dropdown__button.js-dropdown__button.js-dropdown__button_action_clear(
              disabled
              tabindex="-1"
              type="button"
            ) очистить
      each item in items
        .dropdown__item.js-dropdown__item(
          data-name= item.name
          data-units= item.units
          data-value=""
          data-quantity="0"
        )
          p.dropdown__label.js-dropdown__label
          button.dropdown__counter-button.js-dropdown__counter-button.js-dropdown__counter-button_action_minus(
            disabled
            tabindex="-1"
            type="button"
            data-name= item.name
          ) -
          input.dropdown__quantity.js-dropdown__quantity(
            name= `${name}-${item.name}`
            data-name= item.name
            type="number"
            tabindex="-1"
            readonly
            placeholder="0"
            min="0"
            max="99"
            step="1"
          )
          button.dropdown__counter-button.js-dropdown__counter-button.js-dropdown__counter-button_action_plus(
            tabindex="-1"
            type="button"
            data-name= item.name
          ) +
    .dropdown__drop.js-dropdown__drop
      p.dropdown__value.js-dropdown__value= defaultValue
